.admission {
   margin-top: 8rem;

   // Showcase
   .showcase {
      &-img {
         height: 70vh;
         position: relative;

         .showcase-content {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%;
            text-align: center;
            transform: translate(-50%, -50%);
            background-color: rgba($grey-color, 0.6);
            padding: 1rem 2rem;
            box-shadow: 0px 0px 50px $dark-color;

            h1 {
               font-size: 3rem;
            }
         }

         img {
            height: 100%;
            object-fit: cover;
         }
      }
   }

   .info-one {
      padding: 1.5rem 0;
      text-align: center;
      h2 {
         font-size: 1.5rem;
         margin: 1rem 0;
      }
   }

   .form {
      background-color: $grey-color;
      padding: 1.5rem 0;

      h2 {
         text-align: center;
      }

      form {
         label {
            font-size: 0.8rem;
            font-weight: bold;
         }
         div {
            width: 100%;

            input,
            textarea {
               width: 100%;
               padding: 0.5rem 1rem;
               margin: 0.5rem 0;
               background-color: $light-color;
               border: 2px solid lighten($dark-color, 50%);
               font-weight: bold;
            }

            input.error {
               border: 2px solid $danger-color;
            }

            .error {
               color: $danger-color;
               font-weight: bold;
            }
         }

         .class-selection,
         .religion-selection {
            padding: 0.5rem 0;

            select {
               -webkit-appearance: none;
               -moz-appearance: none;
               appearance: none;
               outline: none;
               border: none;
            }

            .select {
               margin: 1rem 0;
               position: relative;
               overflow: hidden;

               select {
                  color: $dark-color;
                  width: 100%;
                  cursor: pointer;
                  position: relative;
                  padding: 1rem;
                  font-weight: bold;
               }
            }

            .select::after {
               content: '\25BC';
               position: absolute;
               background-color: $secondary-color;
               color: $light-color;
               top: 0;
               right: 0;
               padding: 1rem;
               pointer-events: none;
               @include easeOut;
            }

            .select:hover::after {
               background: white;
               color: $secondary-color;
            }
         }

         .submit-btn {
            width: 100%;
            margin: 1rem 0;
            button {
               width: 100%;
               padding: 0.5rem 0;
               box-shadow: 0px 0px 5px $dark-color;
               background-color: $primary-color;
               color: $light-color;
               display: flex;
               align-items: center;
               justify-content: center;
               outline: none;
               border: none;
               font-weight: bold;
               font-size: 1rem;
               cursor: pointer;
               @include easeOut;

               &:hover {
                  background-color: darken($primary-color, 5%);
               }
            }
         }
      }
   }
}
