.direction {
   margin-top: 8rem;

   // Showcase
   .showcase {
      &-img {
         height: 70vh;
         position: relative;

         .showcase-content {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%;
            text-align: center;
            transform: translate(-50%, -50%);
            background-color: rgba($grey-color, 0.6);
            padding: 1rem 2rem;
            box-shadow: 0px 0px 50px $dark-color;

            h1 {
               font-size: 3rem;
            }
         }

         img {
            height: 100%;
            object-fit: cover;
         }
      }
   }

   .info-one {
      padding: 1rem 0;
      h2 {
         margin: 0.5rem 0;
      }
   }

   .travel-info {
      background-color: $grey-color;
      padding: 1rem 0;

      h3 {
         font-size: 1.3rem;
         margin: 1rem 0 0 0;
      }
      .boxes {
         display: grid;
         grid-gap: 5rem;
         grid-template-columns: repeat(2, 1fr);

         .travel-content {
            margin-top: 8vh;
         }

         .img-container {
            height: 400px;
            width: 100%;

            img {
               height: 100%;
               object-fit: contain;
            }
         }
      }

      .map {
         grid-template-columns: 1fr;
         margin: 1rem 0;
         button {
            padding: 0.5rem 0;
            cursor: pointer;
            color: $light-color;
            font-weight: bold;
            background-color: $primary-color;
            outline: none;
            border: none;
            font-size: 1rem;
            box-shadow: 0px 0px 5px $dark-color;
            display: flex;
            align-items: center;
            justify-content: center;
            @include easeOut;

            &:hover {
               transform: scale(0.9);
            }
         }
      }
   }
}
