.events-section {
   margin-top: 8rem;

   .showcase {
      // Showcase
      .showcase {
         &-img {
            height: 70vh;
            position: relative;

            .showcase-content {
               position: absolute;
               top: 50%;
               left: 50%;
               width: 90%;
               text-align: center;
               transform: translate(-50%, -50%);
               background-color: rgba($grey-color, 0.6);
               padding: 1rem 2rem;
               box-shadow: 0px 0px 50px $dark-color;

               h1 {
                  font-size: 3rem;
               }
            }

            img {
               object-fit: cover;
               height: 100%;
            }
         }
      }
   }

   .latest-events {
      h2 {
         font-size: 1.5rem;
         margin: 1rem 0;
         text-align: center;
      }

      .events-container {
         .events {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 2rem 0;
            padding: 0.5rem;
            box-shadow: 0px 0px 2px $dark-color;

            &-img {
               height: 100px;
               width: 100px;

               img {
                  height: 100%;
               }
            }

            &-content {
               flex: 1;
               margin-left: 2rem;
            }
         }

         .events:nth-child(even) {
            background-color: $light-color;
         }

         .events:nth-child(odd) {
            background-color: $grey-color;
         }
      }
   }

   .latest-news {
      text-align: center;
      background-color: $primary-color;
      color: $light-color;
      padding: 2rem 1rem;
      box-shadow: 0px 0px 5px $dark-color;

      h3 {
         font-size: 1.5rem;
      }

      button {
         margin-top: 1rem;
         padding: 0.5rem 1rem;
         background-color: darken($primary-color, 10%);
         border: none;
         outline: none;
         color: $light-color;
         font-weight: bold;
         cursor: pointer;
         @include easeOut;

         i {
            margin-left: 0.5rem;
         }

         &:hover {
            background-color: darken($primary-color, 20%);
         }
      }
   }
}
