.home {
   margin-top: 8rem;

   // Showcase
   .showcase {
      &-img {
         height: 70vh;
         position: relative;

         .showcase-content {
            position: absolute;
            top: 30%;
            background-color: rgba($grey-color, 0.6);
            padding: 1rem 2rem;
            box-shadow: 0px 0px 50px $dark-color;

            h1 {
               font-size: 3rem;
            }

            h4 {
               color: lighten($dark-color, 10%);
            }

            button {
               padding: 0.5rem 1rem;
               border: none;
               outline: none;
               background-color: $primary-color;
               color: $light-color;
               font-weight: bold;
               font-size: 0.8rem;
               margin: 1rem 0;
               cursor: pointer;
               @include easeOut;

               &:hover {
                  background-color: $light-color;
                  color: $primary-color;
               }
            }
         }

         img {
            height: 100%;
            object-fit: cover;
         }
      }
   }

   // Who We are
   .info-one {
      padding-top: 2rem;
      background-color: $light-color;

      .boxes {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         grid-gap: 2rem;
         padding: 1rem;

         div {
            padding: 0.5rem;
            cursor: pointer;
            text-align: center;
            box-shadow: 0px 0 15px $dark-color;
         }
      }
   }

   .who-we-are {
      background-color: $grey-color;
      padding: 1rem 0;

      .boxes {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-gap: 4rem;
         padding: 1rem;

         div {
            padding: 0.5rem;
            text-align: center;
         }

         img {
            box-shadow: 0px 0 15px $dark-color;
         }

         .content {
            margin-top: 20vh;

            h3 {
               font-size: 2rem;
               margin-bottom: 1.5rem;
            }
         }
      }
      .quote {
         text-align: center;
         width: 40%;
         margin: 1rem auto;
         font-weight: bold;

         small {
            color: lighten($dark-color, 10%);
            font-size: 0.7rem;
         }
      }
   }
}
