.map {
   margin-top: 8rem;

   // Showcase
   .showcase {
      &-img {
         height: 70vh;
         position: relative;

         .showcase-content {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%;
            text-align: center;
            transform: translate(-50%, -50%);
            background-color: rgba($grey-color, 0.6);
            padding: 1rem 2rem;
            box-shadow: 0px 0px 50px $dark-color;

            h1 {
               font-size: 3rem;
            }
         }

         img {
            height: 100%;
            object-fit: cover;
         }
      }
   }
}
